:root{
    --cor-primaria:#3498db;
    --cor-secundaria: #2c3e50;
    --espacamento:16px;
}


/* Reset Simple */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;

}

.cabecalho{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: var(--espacamento);
            background: var(--cor-primaria);
            color: white;

}
.box1{
    background-color: brown;
    padding-left: 60px;
    margin-top: 200px;
}

.box2{margin-top: 25px;}

.aurafoto{margin-top: 150px;}

/*Grid e cards*/

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--espacamento);
    padding: var(--espacamento);
}

.card{
background-color: whitesmoke;
padding: 20px;
text-align: center;

}

.formulario{
    padding: var(--espacamento);
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.button{
    background: var(--cor-primaria);
    color: white;
    border: none;
    padding: 10px;
}

.rodape{
    align-items: center;
    padding: var(--espacamento);
    background-color: var(--cor-primaria);
    color: white;
    border-radius: 8px;
    text-align: center;
}